html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    background-color: thistle;
    font-family: fantasy;
}

.color {
    color: blueviolet;
    font-size: 100px;
    text-align: center;
    margin: 100px 0;
}